
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <a href="{{post.url}}" class="lead" target="_blank">{{post.title}}</a>
            <p><h5>Author: </h5>{{post.author.username}}</p>

            <p><h5>Summary: </h5>{{post.summary}}</p>

            <h2>Add a comment! :)</h2>
            <form action="/posts/{{post._id}}/comments" method="post">
                <textarea class='form-control' name="content" placeholder="Comment"></textarea>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>

            <h2>Comments</h2>
            {{#if this.post}}
            {{#each post.comments}}

                <div class="card col-xs-12 comment-indent">

                    <b><p>{{this.content}}</p></b>
                    <p class="text-right"><b><i>Author: </b></i>{{this.author.username}}</p>
                    <a href="/posts/{{../post._id}}/comments/{{this._id}}/replies/new">Reply</a>

                    {{#if this.comments}}
                    {{#each this.comments}}
                        {{> comment comment=this postId=../post._id}}
                    {{/each}}
                    {{/if}}

                </div>

            {{/each}}
            {{/if}}
        </div>
    </div>
